.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: #f5f5f5;
}


.nav-links {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    /* justify-content: flex-end; */
    display: flex;
    align-items: center;
    gap: 2rem;
    color:#333333;
    font-size: 18px;
    padding: 0 30px;
}
/* 
.active{
    text-decoration: line-through;
    color: black;
} */