
.menu-card {
    width: 19rem;
 
  
  }
.menu-card-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-bottom-right-radius: 9rem;
  transition: all 0.5s ease;
}

.menu-card-image-container {
  width: 100%;
  height: 20rem;
}

.menu-card:hover .menu-card-image{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px #000;
  
  
  }

  .subtitle{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 2rem auto;
    font-size: 2rem;
    text-shadow: 2px 2px 2px var(--col-primary);
    color: #111;
    position: relative;
    width: fit-content;
  }


    .subtitle::after{
      content: "";
      width: 3rem;
      height: 4px;
      position: absolute;
      top: 1.5rem;
      right: -3.5rem;
      background-color: var(--col-primary);
      border-radius: 300px;

    }

    .subtitle::before{
      content: "";
      width: 3rem;
      height: 4px;
      position: absolute;
      top:1.5rem ;
      left: -3.5rem;
      background-color: var(--col-primary);
      border-radius: 300px;
    }
